aiohttp>=3.7.4
async-timeout==3.0.1
attrs==21.4.0
chardet==4.0.0
colorama==0.4.4
discord-py-interactions==3.0.2
discord.py==1.7.3
idna==3.3
multidict==6.0.2
orjson==3.6.3
psycopg2==2.9.3
SQLAlchemy==1.4.31
typing_extensions==4.0.1
yarl==1.7.2
youtube-dl==2021.12.17